[submodule "ManejadorCheckpoint"]
	path = ManejadorCheckpoint
	url = https://github.com/Melky92/ManejadorCheckpoint
[submodule "Arduino-Bluetooth-HackBo"]
	path = Arduino-Bluetooth-HackBo
	url = https://github.com/jupaesbri/Arduino-Bluetooth-HackBo
[submodule "Checkpoint-ReactNative"]
	path = Checkpoint-ReactNative
	url = https://github.com/FavioHurtado/Checkpoint-ReactNative
